
<ion-view class="welcome-page" can-swipe-back="false">
    <ion-header-bar class="bar-header bar-light">
        <h1 class="title">{{user.first_name}} {{user.last_name}}</h1>
    </ion-header-bar>

    <ion-content class="content" scroll="true">
        <div class="content_second">
            <div class="points-panel">
                <div class="circle-block">
                    <div class="circle"></div>
                    <div class="bg"></div>
                    <div class="number">0</div>
                    <div class="text">this month</div>
                </div>
            </div>
            <div class="text-panel">
                <h1 class="text-center">Welcome!</h1>

                <p class="text-center">You haven’t accumulated any points yet.</p>
                <p class="text-center">Check-in to your gym to earn points.</p>
                <div class="gym_image text-center"></div>
            </div>
        </div>
    </ion-content>

</ion-view>
